.hello-user {
  margin: 20px 0px 10px 27px;
}

.booking-list {
  border-top: 2px, solid, black !important;
  overflow-x: scroll;
  width: 70vw;
  height: 75vh;
}

.fa-smile {
  margin-left: 5px;
  transition: 1s;
}

.fa-smile:hover {
  color: rgb(235, 235, 96);
}

.upcoming {
  margin: 0px 0px 10px 27px;
}

.container-no-bookings {
  margin: 30px;
}

.past-exp-container {
  background-color: orange;
  border-radius: 10px;
  position: absolute;
  top: 123px;
  right: 25px;
  width: 27vw;
  height: 75vh;
}

.past-exp {
  margin: 10px 0 20px 15px;
  font-weight: 900;
  font-size: 22px;
}

.past-exp-detail {
  margin: 15px 0 55px 15px;
}
