.dropdown {
  background-color: white;
}

#dropdown-basic-button {
  border-radius: 10px;
  background-color: white;
  color: darkgrey;
  border-color: lightgray;
  user-select: none;
  width: 100%;
  height: 5vh;
  /* padding-right: 7em; */
}

.dropdown-adults {
  font-size: small;
  margin-left: 0.5em;
  width: 12rem;
}

.dropdown-children {
  font-size: small;
  margin-top: 2em;
  margin-left: 0.5em;
  width: 12rem;
}

.dropdown-adults-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.dropdown-children-inline {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
