.exp-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* margin-left: 30px; */
  margin-top: 30px;
  width: 63vw;
}

.results-info {
  margin-left: 1em;
  margin-bottom: 13px;
}

.exp-list {
  height: 80vh;
  overflow-x: auto;
}

.no-exp {
  margin-left: 1em;
}

h4 {
  color: #a35709;
}
