.details-title {
  margin-top: 3rem;
}
.details-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  height: 100vh;
  margin: 6rem;
}

.details-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  height: 50vh;
  margin-top: 5rem;
}

.title-img-details-container {
  width: 100%;
  height: 15rem;
  margin-top: 1.5rem;
  /* padding-left: 2.5rem; */
}

.provider-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
  height: 15rem;
}

.details-img {
  width: 276px;
  height: 180px;
  border-radius: 20px;
}

.details-datepicker-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 10px;
  width: 20rem;
  height: 18rem;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.booking-cont-date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: -2.5em;
}

.btn-book-now {
  background-color: darkorange;
  border-radius: 10px;
  color: white;
}

.details-description {
  margin-top: 3rem;
  background-color: orange;
}
