.details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  /* background-color: burlywood; */
  height: 100vh;
  margin: 8rem;
}

.details-container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: lightgreen; */
  width: 100%;
  height: 40vh;
  margin-top: 2rem;
}

.title-img-details-container {
  /* background-color: cadetblue; */
  width: 100%;
  height: 15rem;
  margin-top: 1.5rem;
}

.provider-details-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* background-color: lightyellow; */
  width: 50%;
  height: 15rem;
}

.details-datepicker-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  width: 22%;
  height: 12rem;
}

.details-img {
  width: 276px;
  height: 180px;
  border-radius: 20px;
}
