/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Poppins:wght@100&display=swap');

body {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Montserrat', sans-serif !important;
}

body::-webkit-scrollbar {
  display: none;
}
