.search-form {
  background-color: transparent;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40vh;
  width: 100%;
  z-index: 1;
}

.search-term {
  background-color: white;
  border: none;
  border-radius: 25px;
  box-shadow: 5px 8px 15px slategray;
  font-size: 1.2em;
  height: 38px;
  outline: none;
  padding: 0.5em 1em;
  width: 40vw;
}

::placeholder {
  color: grey;
}
