.search-form {
  background-color: transparent;
  /* display: flex;
  justify-content: center; */
  left: 28vw;
  position: absolute;
  top: 30vh;
  width: 100%;
}
.search-term {
  background-color: white;
  border: none;
  border-radius: 25px;
  box-shadow: 8px 8px 18px #363636;
  font-size: 1.2em;
  height: 50px;
  outline: none;
  padding: 0.5em 1em;
  width: 40vw;
  position: absolute;
}
::placeholder {
  color: grey;
}

.suggestions {
  position: absolute;
  top: 45vh;
  left: 35vw;
  width: 30vw;
  z-index: 1;
}

.search-container {
  display: flex;
  flex-direction: column;
  position: relative;
}
