.card {
  display: flex;
  flex-direction: row;
  width: 40rem;
}

.card-body {
  display: flex;
  width: 40rem;
  justify-content: space-between;
}

.xp-image {
  width: 276px;
  height: 200px;
  border-radius: 20px;
  justify-content: center;
  background-color: greenyellow;
}
.card-product {
  border-radius: 20px;
  border: 1px solid grey;
}
