.background-image {
  background-image: url('../../assets/back.png');
  /* ../../images/tokyo.jpg' */
  /* https://res.cloudinary.com/geuxor/image/upload/v1614934003/samples/people/bicycle.jpg */
  background-size: cover;
  background-position: center;
  /* min-height: 100%; */
  height: 93vh;
  /* overflow: initial; */
}

.background-image::-webkit-scrollbar {
  display: none;
}
