.background-image {
  background-image: url('../../assets/back.png');
  background-size: cover;
  background-position: center;
  height: 93vh;
}

.background-image::-webkit-scrollbar {
  display: none;
}
