.background-image {
  background-image: url('../../images/tokyo.jpg');
  background-size: cover;
  background-position: bottom;
  /* min-height: 100%; */
  height: 93vh;
  /* overflow: initial; */
}

.background-image::-webkit-scrollbar {
  display: none;
}
