.background-image {
  background-image: url('../../images/fjord.jpg');
  background-size: cover;
  background-position: bottom;
  min-height: 100%;
  height: 100vh;
  /* position: relative; */
}

body {
  overflow: hidden;
  /* overflow-y: auto; */
}
