.exp-container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  border: 1px solid grey;
  margin-top: 1rem;
  border-right: white;
}

.exp-container3 {
  display: flex;
  flex-direction: column;
  padding-left: 1em;
}

.exp-container4 {
  display: flex;
  flex-direction: column;
}

.exp-container5 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 2rem;
}

.experience-image {
  width: 276px;
  height: 180px;
  border-radius: 20px;
}

.exp-buy-button {
  width: 15vh;
}
