.details-container {
  display: flex;
  flex-direction: column;
  width: 85vw;
  height: 85vh;
  margin: 7.5vh 0 100px 7.5vw;
  overflow-x: auto;
  /* overflow-y: hidden; */
}

.fa-map-marker-alt {
  margin-left: 5px;
  color: red;
}

.fa-clock {
  margin-left: 5px;
}

.location-details {
  font-size: 12px;
}

.location {
  display: flex;
  width: 430px;
  flex-direction: row;
  justify-content: space-between;
}

.exp-picture-booking {
  width: 85vw;
  height: 230px;
  margin-bottom: 1rem;
}

.hello-booker {
  padding-bottom: 0.5rem;
  margin-bottom: 20px;
  border-bottom: 1px rgb(196, 188, 188) solid;
}

.avatar-picture-booking {
  border-radius: 50%;
  height: 100px;
}
.provider-name {
  font-weight: bolder;
  text-decoration: underline;
}

.provider-details {
  margin-top: 3vh;
}

.booking-description-details {
  text-align: justify;
  text-justify: inter-word;
}

.booking-confirmation {
  margin-bottom: 1rem;
}

.booking-confirmation h3 {
  font-size: 15px;
  margin-bottom: 1rem;
}

.booking-confirmation h5 {
  font-weight: bold;
  letter-spacing: 0.2rem;
  margin-bottom: 1.2rem;
}
